<!DOCTYPE html>
<html>
<head>
    <!-- Bootstrap -->
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all',
    'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body >
    <header>
                    <div class="col-md-12">
                        <h1 class="animated fadeInDown">Bienvenidos Librería ARCE</h1>
                        <a href="#" class="button radius default">Acerca de...</a>
                    </div>
    </header>
</body>
</html>
